body {
    font-family: Arial, sans-serif;
    text-decoration: double;
    color: rgb(223, 224, 235);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://res.cloudinary.com/dqfaa272n/image/upload/v1701982817/byhr034qj53da1uagcv7.jpg);
    background-size: cover;
}
/*Header*/
header{
    width: 100vw;
    position: fixed;
    min-height: 60vh;
    top: 0;
    display: flex;
    justify-content: center;
    background-image: url(https://res.cloudinary.com/dqfaa272n/image/upload/v1701982817/byhr034qj53da1uagcv7.jpg);
    background-size:inherit;
}
#scifi {
    object-fit: inherit;
    padding: 20px;
    width: 40%;
    height: 50%;
}
/*Container*/
.container{
    width: 100vw;
    height: 80vh;
    position: relative;
    top: 11vh;
}
.container-form{
    display: flex;
    justify-content: space-around;
}
.container-form-title, .container-list-titlebooks, .container-list-titleauthors{
    display: flex;
    justify-content: center;
}


form {
    margin: 20px;
    padding: 20px;
    border: none;
    display: flex;
    flex-direction: column;
}

input, button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;

}
.picture {
color: transparent;
}
.picture::-webkit-file-upload-button {
visibility: hidden;
}
.picture::before {
    content: 'Upload images';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 10px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 13pt;
}
.picture:hover::before {
    border-color: black;
}
.picture:active {
    outline: 0;
}
.picture:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}
button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}
button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.container-list-titlebooks, .container-list-titleauthors{
    text-decoration: underline;
}
#booksList, #authorsList {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.bookCard, .authorCard {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-image: url(https://res.cloudinary.com/dqfaa272n/image/upload/v1701986800/iptq5jlkrncx1rjbiccx.jpg);
    background-size:auto;
}

.book-image, .author-image {
    width: 60%;
    text-align: center;
}
.I {
    text-decoration: underline;
    color: #fff;
}
/*Footer*/
footer{
    width: 100vw;
    height: 10vh;
    color:black ;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.footer-copy{
    width: 50%;
    display: flex;
    align-items: center;
}
#copy{
    width: 10%;
}

/*Media Queries*/
@media (max-width: 575.98px)and (orientation:portrait) {
   
}
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
   
}
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
   
}
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
   
}
@media (min-width: 1199.98px)  {
    button {
        height: 90px;
        font-size: 60px;
    }

}

@media (min-width: 5000px)  {
    button {
        height: 200px;
        font-size: 150px;
    }
    input, button {
        display: block;
        margin-bottom: 60px;
        padding: 60px;
        border-radius: 60px;
        font-size: 2em;
    }
    ::placeholder {
        font-size: 2em;
      }
      .picture::before {
        padding: 40px 100px;
        font-size: 2em;
    }
    .bookCard, .authorCard {
        padding: 70px;
        margin: 35px;
        width: 600px;
        background-image: url(https://res.cloudinary.com/dqfaa272n/image/upload/v1701986800/iptq5jlkrncx1rjbiccx.jpg);
        background-size:cover;
        font-size: 4em;
        text-decoration:solid;
    }
}


